<!DOCTYPE HTML>
<html>

<head>
    <title>教师管理界面</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/static/assets/css/main.css" />
    <script src="/static/js/echarts.min.js"></script>
</head>

<body>
    <div id="wrapper">
        <header id="header">
            <div class="logo">
                <span class="icon fa-diamond"></span>
            </div>
            <div class="content">
                <div class="inner">
                    <h1>考试系统教师首页</h1>
                    <p>
                        <br />欢迎您， {{　teacher.name }}
                    </p>
                </div>
            </div>
            <nav>
                <ul>
                    <li><a href="#person_info">个人信息</a></li>
                    <li><a href="#stuLog">学生日志</a></li>
                    <li><a href="#score_info">查询成绩</a></li>
                    <li><a href="#score_analyse">成绩分析</a></li>
                    <li><a href="/">退出</a></li>
                </ul>
            </nav>
        </header>
        <div id="main">
            <article id="person_info">
                <h2 class="major">个人信息</h2>
                <div id="home" class="container tab-pane active"><br>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>属性</th>
                                <th>信息</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>教工号</td>
                                <td>{{ teacher.id }}</td>
                            </tr>
                            <tr class="table-primary">
                                <td>姓名</td>
                                <td>{{ teacher.name }}</td>
                            </tr>
                            <tr class="table-success">
                                <td>性别</td>
                                <td>{{ teacher.sex }}</td>
                            </tr>
                            <tr class="table-danger">
                                <td>学院</td>
                                <td>{{ teacher.dept }}</td>
                            </tr>

                            <!--<tr class="table-success">-->
                                <!--<td>专业</td>-->
                                <!--<td>{{ teacher.major }}</td>-->
                            <!--</tr>-->

                            <tr class="table-warning">
                                <td>邮箱地址</td>
                                <td>{{ teacher.email }}</td>
                            </tr>
                            <tr class="table-active">
                                <td>出生日期</td>
                                <td>{{ teacher.birth }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </article>
            <article id="score_info">
                <div id="menu2" class="container tab-pane fade"><br>
                    <span>成绩信息</span>
                    <p></p>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>姓名</th>
                                <th>科目</th>
                                <th>成绩</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for a, b, c in grade %}
                            <tr class="table-primary">
                                <td>{{ a }}</td>
                                <td>{{ b }}</td>
                                <td>{{ c }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </article>

            <article id="score_analyse">
                <div id="menu3" class="container tab-pane fade"><br>
                    <h3>考试成绩</h3>
                    {#form表单#}
                    <!--<form action="/teacherLogin/score_analyse" method="post"></form>-->
                    <div class="field half first">
                        <label style="font-size:20px" for="">科目名称</label>
                        <input type="text" id="subject" name="subject"
                               placeholder="输入科目名称" value="{{ subject }}"
                                style="width:200px"/>
                    </div>
                    <div class="field half first">
                        <button onclick="search_echart()">search</button>
                    </div>
                    <table class="table" id="tbMain">
                        <thead>
                            <tr>
                                <th>学生学号</th>
                                <th>学生姓名</th>
                                <th>考试科目</th>
                                <th>成绩</th>
                            </tr>
                        </thead>
                        <tbody></tbody> 
                    </table>
                </div>
                <div id="main1" style="width: 680px;height:500px;"></div>
                <div id="main2" style="width: 680px;height:500px;"></div>

            </article>

            <article id="stuLog" class="container tab-pane fade">
                <div class="container">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>姓名</th>
                                <th>学号</th>
                                <th>专业</th>
                                <th>操作</th>
                                <th>时间</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for result in log %}
                            <tr class="table-primary">
                                <td>{{ result.luser }}</td>
                                <td>{{ result.id }}</td>
                                <td>{{ result.major }}</td>
                                <td>{{ result.operate }}</td>
                                <td>{{ result.ldate }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </article>
        </div>
        <footer id="footer">
            <p class="copyright">&copy; 达内: <a href="http://www.tmooc.cn" style="border-bottom:none">AID1907</a>.</p>
        </footer>
    </div>
    <div id="bg"></div>
    <script src="../static/assets/js/jquery.min.js"></script>
    <script src="../static/assets/js/skel.min.js"></script>
    <script src="../static/assets/js/util.js"></script>
    <script src="../static/assets/js/main.js"></script>
    <script type="text/javascript">
    data = []
    function search_echart(){
        var myChart1=echarts.init(document.getElementById('main1'));
        subject = $('#subject').val()
        //null
        $.get(
            '/teacherLogin/score_analyse',
            {'subject':subject},
            function(da){
                var i = 0
                for(x in da){
                    data[i] = da[x]
                    i++;
                };
            if(data[6]!=""){
                alert("无查询结果！")
                $("#main1").css("display","none")
                $("#main2").css("display","block")
            }else{
                $("#main1").css("display","block")
                $("#main2").css("display","none")
            }
            // 显示学生考试成绩
            var score_info = JSON.parse(data[5])
            // 每次查询数据时先把上一次的数据清空
            var tbody = $($("#tbMain"))
            $("#tbMain tbody").html("")
            for(var i=0;i<score_info.length;i++){
                tbody.prepend("<tr><td>"+score_info[i].id+ 
                            "</td><td>"+score_info[i].name+
                            "</td><td>"+score_info[i].subject+
                            "</td><td>"+score_info[i].grade+
                            "</td></tr>")
            };
        myChart1.setOption({
            title : {
            text: subject,
            subtext: '',
            x:'center'
        },
        tooltip : {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend: {
            orient: 'vertical',
            left: 'left',
        },
        series : [
            {
                name: subject,
                type: 'pie',
                radius : '55%',
                center: ['50%', '60%'],
                data:[
                    {value:data[0], name:'<60'},
                    {value:data[1], name:'60-70'},
                    {value:data[2], name:'70-80'},
                    {value:data[3], name:'80-90'},
                    {value:data[4], name:'>90'}
                ],
                itemStyle: {
                    emphasis: {
                    shadowBlur: 10,
                    shadowOffsetX: 0,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
        ]
        });
    });
    }
    </script>
</body>

</html>